
Documentazione/Documentazione-frn.log
Documentazione/Documentazione-frn.synctex.gz
Documentazione/Documentazione.aux
Documentazione/Documentazione.lof
Documentazione/Documentazione.log
Documentazione/Documentazione.synctex.gz
Documentazione/Documentazione.toc
