
Documentazione/Documentazione-frn.log
Documentazione/Documentazione-frn.synctex.gz
Documentazione/Documentazione.aux
Documentazione/Documentazione.lof
Documentazione/Documentazione.log
Documentazione/Documentazione.synctex.gz
Documentazione/Documentazione.toc
progetto_pa_c++/.cproject
progetto_pa_c++/.project
progetto_pa_c++/.settings/language.settings.xml
progetto_pa_c++/.settings/org.eclipse.cdt.managedbuilder.core.prefs
*.o
*.ini
*.xml
*.dat
*.xmi
*.index
*.history
*.log
*.prefs
*.snap
*.resources
*.pdom
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/progetto_pa_c++/progetto_pa_c++
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/progetto_pa_c++/916671430
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.lock
